---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Footer from "@components/footer.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
import {config} from "../config"
import PricingPlans from "@components/pricingplans.astro";
import SocialProof from "@components/socialproof.astro";
import About from "@components/about.astro";

---

<Layout title="">
  <Container>
    <Hero />
    {
      config.layout && config.layout.is_spa==true?
        (config.layout.extra_sections||[]).map(section => {
          let cls = null;
          switch(section.slug){
            case "social_proof":
              return (<SocialProof />)
            case "features":
              return (<Features />)
            case "integrations":
              return (<Logos />)
            case "pricing":
              return (
                <PricingPlans plan={config.pricing_plan||[]} />
              )
            case "about":
              return (<About />)
            case "cta_block":
              return (<Cta />)
            default:
              return (<p>{section.slug}</p>);
          }
        })
        :
        <>
          <Features />
          <Logos />
          <Cta />
        </>
    }
  </Container>
</Layout>

<script>
  import {config} from "../config"
  console.log('init')

  document.addEventListener("DOMContentLoaded", function(event) {
    console.log('DOMContentLoaded')

    async function sendVisitEvent(){
      console.log('send visit event')
      const response = await fetch(`https://nextjs-twitter-api.vercel.app/api/analytics-upstream?ev=visit&pid=${config.product_id}&ref=astro`, {method: 'POST'});
      const data = await response.json();
      console.log('data: '+JSON.stringify(data))
    }
    sendVisitEvent().catch(console.erorr)
  });
</script>